/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

 html,
 body {
   font-family: "Roboto", sans-serif;
   display: flex;
   flex-direction: column;
 }
 
 .appbar{
   display: flex;
   flex-direction: row;
   padding: 0.4rem;
   box-shadow: 5px 2px 3px grey; 
   background-color: #f7d736;
   width: 100%;
   height: 8%;
 }
 
 .autoresize{
   width: 100%;
   padding: 0.25rem;
   border: white;
   
 }
 
 .btn{
   width: 100%;
   border-radius: 0.3rem;
   padding: 0.5rem ;
   box-shadow: 0 1px 4px grey;
   background-color: #f7d736;
   color: black;
   border: white;
 }
 
 .card-container{
   display: flex;
   flex-wrap: wrap;
   padding-left:1.5em;
   padding-right: 1.8em;
   justify-content: space-evenly;
 }
 
 .card{
  display: inline-block;
  height: 6.5em;
  width:14%;
  padding:0.5rem;
  margin: 0.4rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 4px grey;
  background-color: #f7d736;
  border-radius: 10px;
 }

.card-title{
  font-size: 1.3vw;
  word-wrap: break-word;
  margin-bottom: 1rem;
  font-family: 'Permanent Marker', cursive;
  color: black;
}

.card-content{
  font-size: smaller;
  flex-grow: 1;
  display: flex;
  align-items:center;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  color: #2c2c2c;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-card{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  width: 40%;
  height: 40%;
  border: 5px white;
  border-radius: 0.25rem;
  align-self: center;
  box-shadow: 0 5px 5px 2px grey; 
}

.form-card-title{
  width: 100%;
  font-size: 2vw;
  padding: 0.25rem;
  border: white;
}

.logo{
  align-items: flex-start;
  max-width: 5%;
  height: 5%;
}

.subtitle{
  padding: 0.7rem;
}

.card-color-1{
background-color: #9de0f5;
}
.card-color-2{
background-color: #ef89ba;
}
.card-color-3{
background-color: #ead3a7
}
.card-color-4{
background-color: #abe9c1;
}
.card-color-5{
background-color: #fae890;
}

.card-rotation-1{
transform: rotate(0deg);
}
.card-rotation-2{
transform: rotate(1deg);
}
.card-rotation-3{
transform: rotate(2deg);
}
.card-rotation-4{
transform: rotate(3deg);
}
.card-rotation-5{
transform: rotate(4deg);
}
.card-rotation-6{
transform: rotate(5deg);
}
.card-rotation-7{
transform: rotate(-1deg);
}
.card-rotation-8{
transform: rotate(-2deg);
}
.card-rotation-9{
transform: rotate(-3deg);
}
.card-rotation-10{
transform: rotate(-4deg);
}
.card-rotation-11{
transform: rotate(-5deg);
}
 
 /* Você pode usar o CSS comentado abaixo, se ajudar */
 /* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
 /* .btn {
   position: relative;
   display: block;
   padding: 10px 15px;
 
   overflow: hidden;
 
   border-width: 0;
   outline: none;
   border-radius: 2px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
 
   background-color: #f7d736;
 
   transition: background-color 0.3s;
 }
 
 .btn > * {
   position: relative;
 }
 
 .btn:before {
   content: "";
 
   position: absolute;
   top: 50%;
   left: 50%;
 
   display: block;
   width: 0;
   padding-top: 0;
 
   border-radius: 100%;
 
   background-color: rgba(236, 240, 241, 0.3);
 
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }
 
 .btn:active:before {
   width: 120%;
   padding-top: 120%;
 
   transition: width 0.2s ease-out, padding-top 0.2s ease-out;
 } */
 